/*
 * Panels in sidebar (including legend)
 *
 */


.panel-support-maps {
    margin-top: 1.3rem;
    height: auto;		/*	height: 85%;	*/
    /*	height: 65%;	*/
}

.panel-title {
    color: grey;
    text-align: center;
    margin-bottom: .8rem;
}

.panel-legend {
    /*		display: inline-block;		*/
    /*		height: 25%;		*/
    border-top-style: outset;
    z-index: 60;
    /*		overflow-y: auto;		*/
}

.legend-opened {
    top: -13rem;	/*	top: -18rem;	*/
    height: -webkit-fill-available;
}

.redux-other-panels {
    height: 52%;
    overflow-y: auto;
}

.legend-title {
    color: grey;
    text-align: left !important;
    margin-left: 2rem;
    margin-top: 1rem;
}

.legend-item {
    color: grey;
    margin-left: 2rem;
    margin-top: 1rem;
}

.legend-img {
    margin-left: 2rem;
    /*  margin-top: -0.8rem;    */
}

.legend-unit {
    font-size: .9rem;
}

.legend-potencia {
    vertical-align:super;
    font-size: .7rem;
}

.panel-info {
    width: 350px;
    height: 200px;
    left: 4.5em;
    top: 10em;
    background-color: white;
    border-block: black;
    border-style: groove;
    display: none;
    text-align: center;
}

.panel-costs {
    width: 350px;
    height: 200px;
    left: 4.5em;
    top: 30em;
    background-color: white;
    border-block: black;
    border-style: groove;
    display: none;
    text-align: center;
}

.panel-prod {
    width: 350px;
    height: 200px;
    left: 95em;
    top: 40em;
    background-color: white;
    border-block: black;
    border-style: groove;
    display: none;
    text-align: center;
}

.panel-header {
    width: 96%;
    height: 20px;
    margin: 2px 2px;
    text-align: left;
    border-style: solid;
    border-width: thin;
    background-color: darkslategray;
    color: white;
    padding: 5px;
}

.div-steps {
    position: unset;
    padding-left: 2.5rem;
    width: 95%;
    font-size: .9rem;
}

.div-feedstock-results {
    font-size: 0.9rem;
    padding-left: 2rem;
    border-bottom:  lightblue;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 86%;
}

.div-carbon-results {
    width: 100%; 
    text-align: center; 
    border-top: lightblue; 
    border-top-width: 1px; 
    border-top-style: solid;
}

.div-carbon-notes {
    text-align: left;
    font-size: .9rem;
    margin-top: .7rem;
    margin-left: 1rem;
}

.span-carbon-title {
    color: blue;
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 1rem;
}

.span-carbon-alert {
    display: inline-block;
    margin-bottom: 0.3rem !important;
    text-align: justify;
    font-size: 1rem;
}

.span-carbon-notes {
    display: inline-block;
    margin-bottom: 0.3rem !important;
    text-align: justify;
    text-indent: -1.1rem;
}

.span-carbon-notes-2 {
    display: inline-block;
    text-align: justify;
    font-size: .9rem;
    margin-top: .7rem;
}

.span-carbon-notes-3 {
    display: inline-block;
    margin-bottom: 0.3rem !important;
    text-align: center;
}

.bt-style {
    border-width: thin;
    cursor: pointer;
    border-radius: 3px;
}

.bt-cstudy {
    position: absolute;
    width: 6em;
    height: 1.5em;
    bottom: 2.5em;
    right: 1.5em;
}

.bt-back {
    position: relative;
    float: left;
    width: 4em;
    height: 1.5em;
    /*
        margin-top: 2rem;
        padding-left: 2.5rem;
        margin-bottom: 2rem;
    */
    left: 0.5em;
}

.bt-next {
    position: relative;
    float: right;
    width: 4em;
    height: 1.5em;
    /*	margin-top: 2.5rem;		*/
    right: 1.8em;
}

.bt-calc {
    position: relative;
    float: right;
    width: 4em;
    height: 1.5em;
    /*
        margin-top: 2rem;
        margin-bottom: 2rem;
    */
    right: 1.8em;
}

.bt-comparison {
    position: absolute;
    width: 4em;
    height: 1.5em;
    bottom: 0.4em;
    right: 4em;
}

.bt-restart {
    position: absolute;
    height: 1.5em;
    bottom: 0.4em;
    right: 1em;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Style the CORSIA tabs */
.tab {
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    font-weight: normal;
    font-size: 12px;
    color: #999;
    background: #ececec;
    padding-bottom: 0;
    bottom: auto;
    padding-left: .5rem;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: .3px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 4px 10px 6px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    max-height: 29.5rem;
    /*  padding: 12px 12px;     */
  }

  .tabcontent-inf {
    display: none;
    max-height: 29.5rem;
  }

  .tab-title {
    color: grey;
    text-align: left;
    font-size: 1.1rem;
    padding: 1rem 2.5rem .3rem;
    /*  margin-bottom: 1rem;    */
    border-top-style: outset;
}